html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
}

#message {
  font-size: 1.5rem;
}

button {
  display: none;
  border-radius: 5px;
  background-color: purple;
  color: rgb(226, 142, 233);
  font-size: 20px;
  padding: 10px;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: green;
  font-size: 2rem;
  width: 90px;
  height: 90px;
  border: 1px #ccc dotted;
  border-radius: 10%;
  background-color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
}

div.Margo {
  background: no-repeat center/110% url("images/margo-hayes.jpg") rgb(146, 98, 146);
}

div.Marie_Curie {
  background: no-repeat center/110% url("images/Marie_Currie.jpg") rgb(146, 98, 146);
  animation-name: colorFluctuations;
  animation-delay: 444ms;
}

div.Jacinda {
  background: no-repeat center/110% url("images/Jacinda.jpg") rgb(146, 98, 146);
  animation-name: colorFluctuations;
  animation-delay: 888ms;
}

div.Rosa_Parks {
  background: no-repeat center/110% url("images/Rosa_Parks.jpg") rgb(146, 98, 146);
  animation-name: colorFluctuations;
  animation-delay: 1332ms;
}

div.Greta_Thunberg {
  background: no-repeat center/110% url("images/Greta_Thunberg.jpg") rgb(146, 98, 146);
  animation-name: colorFluctuations;
  animation-delay: 1776ms;
}

div.Ada_Lovelace {
  background: no-repeat center/110% url("images/Ada_Lovelace.jpg") rgb(146, 98, 146);
  animation-name: colorFluctuations;
  animation-delay: 2220ms;
}

div.Rosalind_Franklin {
  background: no-repeat center/110% url("images/Rosalind_Franklin.jpg") rgb(146, 98, 146);
  animation-name: colorFluctuations;
  animation-delay: 2664ms;
}

div.Angela_Burdett_Coutts {
  background: no-repeat center/110% url("images/Angela_Burdett_Coutts.jpg") rgb(146, 98, 146);
  animation-name: colorFluctuations;
  animation-delay: 3108ms;
}

div.Mary_Wollstonecraft {
  background: no-repeat center/110% url("images/Mary_Wollstonecraft.jpg") rgb(146, 98, 146);
  animation-name: colorFluctuations;
  animation-delay: 3552ms;
}

div.Jane_Austen {
  background: no-repeat center/110% url("images/Jane_Autsen.jpg") rgb(146, 98, 146);
  animation-name: colorFluctuations;
  animation-delay: 3996ms;
}

div.Wangari_Maathai {
  background: no-repeat center/110% url("images/Wangari_Maathai.jpg") rgb(146, 98, 146);
  animation-name: colorFluctuations;
  animation-delay: 4440ms;
}

div.Simone_de_Beauvoir {
  background: no-repeat center/110% url("images/Simone_de_Beauvoir.jpg") rgb(146, 98, 146);
  animation-name: colorFluctuations;
  animation-delay: 4884ms;
}

div.Grace_Hopper {
  background: no-repeat center/115% url("images/Grace_Hopper.jpg") rgb(146, 98, 146);
  animation-name: colorFluctuations;
  animation-delay: 5328ms;
}

div.Frida_Kahlo {
  background: no-repeat center/110% url("images/Frida_Kahlo.jpg") rgb(146, 98, 146);
  animation-name: colorFluctuations;
  animation-delay: 5872ms;
}

div.Hypatia {
  background: no-repeat center/110% url("images/Hypatia.jpg") rgb(146, 98, 146);
  animation-name: colorFluctuations;
  animation-delay: 6316ms;
}

div.Sacagawea {
  background: no-repeat center/110% url("images/Sacagawea.jpg") rgb(146, 98, 146);
  animation-name: colorFluctuations;
  animation-delay: 6760ms;
}

div.Lise_Meitner {
  background: no-repeat center/110% url("images/Lise_Meitner.jpg") rgb(146, 98, 146);
  animation-name: colorFluctuations;
  animation-delay: 7204ms;
}

div.Bessie_Coleman {
  background: no-repeat center/110% url("images/Bessie_Coleman.jpg") rgb(146, 98, 146);
  animation-name: colorFluctuations;
  animation-delay: 7648ms;
}

div.hidden {
  background: rgb(146, 98, 146);
  animation-name: colorFluctuations;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

div.hidden:hover {
  background: #ccc;
}

#margoModal {
  display: none;
}

#marieCurieModal {
  display: none;
}

#jacindaModal {
  display: none;
}

#rosaParksModal {
  display: none;
}

#gretaThunbergModal {
  display: none;
}

#adaLovelaceModal {
  display: none;
}

#rosalindFranklinModal {
  display: none;
}

#angelaBurdettCouttsModal {
  display: none;
}

#janeAustenModal {
  display: none;
}

#wangariMaathaiModal {
  display: none;
}

#simonedeBeauvoirModal {
  display: none;
}

#graceHopperModal {
  display: none;
}

#fridaKahloModal {
  display: none;
}

#maryWollstonecraftModal {
  display: none;
}

#hypatiaModal {
  display: none;
}

#sacagaweaModal {
  display: none;
}

#bessieColemanModal {
  display: none;
}

#liseMeitnerModal {
  display: none;
}

#startModal {
  display: block;
}

#winButton {
  position: fixed;
  bottom: 10%;
  background-color: rgb(68, 14, 138);
  color: rgba(255, 255, 255, 0.705);
  display: none;
  z-index: 2;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 2s;
}

.modal-header h2 {
  margin: 0;
}

.modal-header {
  background:  rgba(0, 0, 0, 0.6);
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes colorFluctuations {
  0%   {background-color:rgb(146, 98, 146);}
  10%  {background-color:rgb(241, 139, 196);}
  200%  {background-color:rgb(235, 174, 124);}
  30%  {background-color:rgb(159, 223, 157);}
  40%  {background-color:rgb(146, 98, 146);}
  50%  {background-color:rgb(96, 127, 173);}
  60%  {background-color:rgb(113, 175, 165);}
  70%  {background-color:rgb(205, 228, 175);}
  80%  {background-color:rgb(204, 172, 172);}
  90%  {background-color:rgb(207, 155, 228);}
  100%  {background-color:rgb(146, 98, 146);}
}