html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 1.5rem;
}

button {
  display: none;
  border-radius: 5px;
  background-color: purple;
  color: rgb(226, 142, 233);
  font-size: 20px;
  padding: 10px;
}
button:hover {
  transform: scale(1.2);
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: green;
  font-size: 2rem;
  width: 90px;
  height: 90px;
  border: 1px #ccc dotted;
  border-radius: 10%;
  background-color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
}

div.Margo {
  background: no-repeat center/110% url("images/margo-hayes.jpg") grey;
}

div.Marie_Currie {
  background: no-repeat center/110% url("images/Marie_Currie.jpg") grey;
}

div.Jacinda {
  background: no-repeat center/110% url("images/Jacinda.jpg") grey;
}

div.Rosa_Parks {
  background: no-repeat center/110% url("images/Rosa_Parks.jpg") grey;
}

div.Greta_Thunberg {
  background: no-repeat center/110% url("images/Greta_Thunberg.jpg") grey;
}

div.Ada_Lovelace {
  background: no-repeat center/110% url("images/Ada_Lovelace.jpg") grey;
}

div.Rosalind_Franklin {
  background: no-repeat center/110% url("images/Rosalind_Franklin.jpg") grey;
}

div.Angela_Burdett_Coutts {
  background: no-repeat center/110% url("images/Angela_Burdett_Coutts.jpg") grey;
}

div.Mary_Wollstonecraft {
  background: no-repeat center/110% url("images/Mary_Wollstonecraft.jpg") grey;
}

div.Jane_Autsen {
  background: no-repeat center/110% url("images/Jane_Autsen.jpg") grey;
}

div.Wangari_Maathai {
  background: no-repeat center/110% url("images/Wangari_Maathai.jpg") grey;
}

div.Simone_de_Beauvoir {
  background: no-repeat center/110% url("images/Simone_de_Beauvoir.jpg") grey;
}

div.Grace_Hopper {
  background: no-repeat center/115% url("images/Grace_Hopper.jpg") grey;
}

div.Frida_Kahlo {
  background: no-repeat center/110% url("images/Frida_Kahlo.jpg") grey;
}

div.Hypatia {
  background: no-repeat center/110% url("images/Hypatia.jpg") grey;
}

div.Sacagawea {
  background: no-repeat center/110% url("images/Sacagawea.jpg") grey;
}

div.Lise_Meitner {
  background: no-repeat center/110% url("images/Lise_Meitner.jpg") grey;
}

div.Bessie_Coleman {
  background: no-repeat center/110% url("images/Bessie_Coleman.jpg") grey;
}

div.hidden {
  background: #eee;
}

div.hidden:hover {
  background: #ccc;
}

